:root {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: rgb(22, 16, 23);

  --main-color: #07ffc9;
  --error-color: #f10;
  --secondary-color: #158cee;
  --hash-color: #d6dfdf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

nav {
  margin: 0 auto;
  width: 1150px;
  display: flex;
  color: rgb(217, 255, 236);
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 22px;
}

.wrong-guesses {
  color: blue;
}

@keyframes appear {
  from {
    opacity: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  to {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }
}

.image {
  height: 200px;
  animation: appear 0.4s ease;
}

.text {
  color: rgb(217, 255, 236);
  margin: 20px;
}

.word {
  color: rgb(217, 255, 236);
  margin: 20px;
  font-size: 28px;
  letter-spacing: 25px;
  font-weight: 700;
}

.letter-buttons {
  text-align: center;
  /* background-color: darkmagenta; */
  margin: 0 auto;
  width: 800px;
}

.btn {
  padding: 10px;
  height: 70px;

  margin: 5px;
  font-size: 28px;
  background-color: #07ffc9;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(23, 27, 25);
}

.btn:hover {
  background-color: rgb(217, 255, 236);
}
.letter-btn {
  width: 70px;
}

.clicked,
.clicked:hover {
  background-color: rgb(255, 17, 0);
  cursor: auto;
  box-shadow: 0 0 10px rgb(255, 17, 0.6);
  pointer-events: none;
}

.word-text {
  font-size: 28px;
  font-weight: 700;
  color: rgb(23, 27, 25);
}

.clicked .word-text {
  color: white;
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.clicked.clicked .word-text {
  transform: translateY(15px) rotate(-95deg);
  opacity: 0.5;
}

.reset-btn {
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.game-over-text {
  color: yellow;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  place-items: center;
  justify-content: center;
  padding: 0 40%;
}

.category-btn,
.mode-btn {
  background-color: yellow;
  height: 50px;
  font-size: 20px;
  width: 200px;
}

.category-btn:hover,
.mode-btn:hover {
  background-color: yellowgreen;
}

.active-category,
.active-mode {
  background-color: rgb(255, 17, 0);
  cursor: auto;
  box-shadow: 0 0 10px rgb(255, 17, 0.6);
  pointer-events: none;
}

.hidden-letter {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0.5px solid white;
  width: 38px;
  height: 38px;
  text-align: center;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.guessed-letter {
  display: inline-block;
  margin: 0;
  padding: 0;
  animation: slideInFromTop 0.4s ease;
}
