:root {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: rgb(22, 16, 23);

  --main-color: #07ffc9;
  --error-color: #f10;
  --secondary-color: #158cee;
  --hash-color: #d6dfdf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

nav {
  margin: 0 auto;
  width: 1150px;
  display: flex;
  color: rgb(217, 255, 236);
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 22px;
}

.wrong-guesses {
  color: blue;
}

.image {
  height: 200px;
  opacity: 1;
}

.text {
  color: rgb(217, 255, 236);
  margin: 20px;
}

.word {
  color: rgb(217, 255, 236);
  margin: 20px;
  font-size: 28px;
  letter-spacing: 25px;
  font-weight: 700;
}

.letter-buttons {
  text-align: center;
  /* background-color: darkmagenta; */
  margin: 0 auto;
  width: 800px;
}

.btn {
  padding: 10px;
  height: 70px;

  margin: 5px;
  font-size: 28px;
  background-color: #07ffc9;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(23, 27, 25);
}

.letter-btn {
  width: 70px;
}

.clicked,
.clicked:hover {
  background-color: rgb(255, 17, 0);
  cursor: auto;
  box-shadow: 0 0 10px rgb(255, 17, 0.6);
  pointer-events: none;
}

.reset-btn {
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.game-over-text {
  color: yellow;
}

.btn:hover {
  background-color: rgb(217, 255, 236);
}
